@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


.navbar {
    background-color: #532B88;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
    height: 135px;
    flex-direction:row;
}

.navbar h1 {
    font-size: 60px;
    color: #F4EFFA;
    text-align: left;
    font-family: 'Playfair Display', serif;
    margin-right: 200px;
}

.navbar a {
    color: #F4EFFA;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.navbar a:hover {
    color: #2F184B;
}

.navbar-section {
    text-align: center;
    font-family: 'Gabarito', sans-serif;
    font-size: 25px;
}